@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: 80%;
    width: auto;
}
header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: var(--primary_color);
}

:root {
    --primary_color: #0f0f0f;
    --secondary_color: #303030;
}

body {
    background-color: var(--primary_color);
}
#icone_direito {
    display: flex;
    align-items: center;
}
#icone_esquerdo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo {
    width: 7.5em;
    height: 2em;
    border-radius: 0;
}
#icone_microfone {
    margin-left: 20px;
    width: 3em;
    height: 3em;
}
#menu {
    width: 2.5em;
    height: 2.5em;
    border-radius: 0;
    margin-right: 10px;
    margin-left: 0;
}
#menu:hover {
    background-color: var(--secondary_color);
    border-radius: 50%;
}
img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 3px;
}
.icones {
    width: 2.5em;
    height: 2.5em;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.icones:hover {
    background-color: var(--secondary_color);
    border-radius: 50%;
    cursor: pointer;
}
#sem_margin {
    margin: 0;
}
#seg_container {
    position: fixed;
    width: 100%;
    z-index: 2020;
    transition: transform .3s ease;
}
#navegacao {
    display: flex;
    align-items: center;
}
#container {
    padding: 0 16px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
input {
    height: 40px;
    width: 500px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.88);
    background-color: transparent;
    border: 1px solid var(--secondary_color);
    border-radius: 40px 0 0 40px;
    padding: 0 4px 0 16px;
    margin-left: 32px;
}
button {
    border: 1px solid var(--secondary_color);
    background-color: #232324;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    height: 40px;
    width: 15%;
}
i {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    background-color: var(--primary_color);
}
.nav {
    width: 4em;
    height: 4.5em;
    border-radius: 50%;
    cursor: pointer;
}
.nav:hover {
    background-color: #232324;
    border-radius: 5px;
}
section{
    padding-left: 60px;
    padding-top: 90px;
    display: flex;

    justify-content: center;
}
.imagem {
    margin: 20px;
    border-radius: 20px;
    width: 360px;
    height: 210px;
    background: url(../image/imgemcurso.png) no-repeat;
    background-size: contain;
    background-position: right center;
    padding-top: 10px;
    cursor: pointer;
}
h3 {
    color: #fff;
    margin: auto;
    width: 350px;
    cursor: pointer;
}

#img1 {
    background: url(../image/img4.png) no-repeat;
    background-size: contain;
}
#img2 {
    background: url(../image/imgemcurso.png) no-repeat;
    background-size: contain;
    background-position: right center;
}
#img3 {
    background: url(../image/imagem2.png) no-repeat;
    background-size: contain;
}
#img4 {
    background: url(../image/img5.png) no-repeat;
    background-size: contain;
}
#img5 {
    background: url(../image/img6.png) no-repeat;
    background-size: contain;

}
#img5:hover {
    opacity: 70%;
    transition: 0.5s all;
}
p {
    margin-top: 5px;
    line-height: 1.4;
    margin-left: 25px;
    color: #606060;
    font-size: 0.8em;
}
a {
    text-decoration: none;
    color: #fff;
}